/* Copyright Zack Layne */

*{
    font-family: sans-serif;
}

.firstLetter:first-letter{
    font-size: 200%;
}
.shadow.orange.italicize.indent{

    text-indent: 50px
}
.indent{
    text-indent: 50px;
}
.lifloat{
    float: left;
    margin: 0px;   
    background: black;
}
.a:hover{
    background: gray;
    color: black;
}
.firstAs{
    color: white;
    display: block;
    text-align: center;
    width: 160px;
    text-decoration: none;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 5px;
}
.secondAs{
    display: block;
    height: 40px;
    margin: 5px;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    width: 160px;
    font-weight: bold;
    border: solid black;
}
.a2:hover{
    color:green;
}
a{
    color: black;
    text-decoration: none;
}
.liBottom{
    margin-top: 0px;
    padding: 5px;
}
footer{
    background-color: orange;
    font-size: 60%;
    text-align: center;
    border-top: solid black;
    margin-bottom: -10px;
    clear: both;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 200%;
}
h2{
    font-size: 125%;
}
h3{
    font-size: 125%;
}
img {
    float: left;
}
#page-wrap{
    width: 800px;
    border-style: solid;
    border-color: black;
    box-shadow: 0px 0px 5px 10px black;
    margin:auto;
    background-color: white;
}
body{
    
}
html{
    background-image: url("../images/bats.gif");
    background-repeat: repeat;
}
header{
    border-bottom: solid black;
    background-color: orange;
    margin-top: -21px;
}
.gradient1{
    background: linear-gradient(45deg,white,orange,black);
}
.gradient2{
    background: linear-gradient(45deg, black, orange, white);
}
#margin{
    margin: 10px;
}
#sidebar{
    width:160px;
    float: left;
    padding-top: 19px;
}
#main{
    width: 620px;
    float: right;
}
.imgPad{
    margin-right: 450px;
}
